parameters:
  level: 9
  paths:
    - src
  excludePaths:
    - src/adapters
  treatPhpDocTypesAsCertain: false
  ignoreErrors:
    - "#Casting to string something that's already string#"
  reportUnmatchedIgnoredErrors: false
